{% extends 'posts/template.html' %}
{% load static %}
{% block head %}
<title>Blog Posted.Thank you</title>
{% endblock %}

{% block content %}
<div class="d-flex justify-content-center p-2" >
    <div class="card" style="min-width:350px; height:100px; background:rgb(39, 177, 39);">
        <div>
            <h4 class="card-header text-center">SUCCESS</h4>
            <p class="card-body" style="min-width: 300px;color: aliceblue;">Thank you for posting your blogs. You can find your blogs <a
                    href="{% url 'frontend' %}">here</a>.</p>
        </div>
    </div>
</div>

{% endblock %}