{% extends 'posts/template.html' %}
{% block head %}
<title>Blogs | Frameworks</title>
{% endblock %}


{% block navbar %}
<div class="nav-scroller py-1 mb-2 container">
    <nav class="nav d-flex justify-content-between">
      <a class="p-2 link-secondary nav-link" href="{% url 'frontend' %}">Frontend</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'backend' %}">Backend</a>
      <a class="p-2 link-secondary nav-link-active" href="{% url 'frameworks' %}">Frameworks</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'languages' %}">Languages</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'database' %}">Database</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'hackathons' %}">Hackathons</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'github' %}">Github</a>
      <a class="p-2 link-secondary nav-link" href="{% url 'career' %}">Career</a>
    </nav>
  </div>
{% endblock %}

{% block content %}
<!-- LARGE CARD ON THE TOP -->
<main class="container">
  <div class="row p-4 p-md-5 mb-4 rounded text-bg-dark">
    <div class="col-7">
        <h1 class="display-4 fst-italic">The Power of ReactJS</h1>
        <p class="lead my-3">Why It's the Go-To Library for Building Dynamic User Interfaces.This blog could dive into the specifics of ReactJS, including its virtual DOM, component architecture, and ease of use for developers.</p>
        
    </div>
    <div class="col-4" style="width: 450px;">
        <img class="card-img-top rounded" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9uLI1nMF2xr1qNqBwmIEeh1uobnp088_yjevMfQmSws98pYPN4_DE1zl85BxdBjl2SyM&usqp=CAU"
            alt="Image" />
    </div>
</div>
<!-- SMALL CARDS IN THE BOTTOM -->
{% for blog in frameworks_blogs %}
<div class="row mb-2">
    <div class="col">
        <div class=" row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col-8 p-4 d-flex flex-column position-static">
                <strong class="d-inline-block mb-2 text-primary">{{blog.category}}</strong>
                <h3 class="mb-0">{{blog.heading}}</h3>
                <div class="mb-1 text-muted">{{blog.date}} by <a href="/">{{user.username}}</a></div>
                <p class="card-text mt-2">{{blog.description}}</p>
                <a href="{% url 'singleBlog' blog.id %}"><button class="btn btn-primary">Continue reading</button></a>
            </div>
            
        </div>
    </div>
    
</div>

{% endfor %}
</main>
{% endblock %}